
 
 <center>
<h2>Welcome To Registration Page</h2>
</center>
<div>
 <form>
 <center> <table>
 <tr>
 <td>User Name:  </td>
  <td><input type="text" name="username" ng-model="username" required></td><td><br></br></td>
 </tr>
 <tr>
  <td>Password:  </td>
  <td><input type="password" name="password" ng-model="password" required></td>
  <td><br></br></td>
  </tr>
  <tr>
  <td>Email Id:  </td>
  <td><input type="text" name="email" ng-model="emailid" required></td>
 
 <td><br></br></td>
  </tr>
  <tr>
  <td>Contact:  </td>
  <td><input type="text" name="contact" ng-model="contact" required></td>
 
 <td><br></br></td>
  </tr>
  
 
  <tr><td><button ng-click="register()">Register</button></td></tr>
 </table></center>
  </form>
  </div>

  